@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	background-color: #0C0C0C;
	font-family: Montserrat;
}

.div {
	margin-left: 50%;
	color: white;
	opacity: .3;
	transition: .3s;
	font-size: 20px;
	cursor: pointer;
}

.div:hover {
	opacity: 1;
}

.div::before {
	margin-right: 8px;
	content: '';
	height: auto;
	padding: 0 1px 0 0.5px;
	border-radius: 100px;
	background-color: transparent;
	transition: .2s;
}

.div:hover::before {
	background-color: #ED1C24;
}

select {
	padding: 15px 20px;
	padding-right: 100px;
	font-size: 18px;
	position: relative;
	background-color: #111111;
	border: 1px solid #282828;
	color: white;
	border-radius: 0px;
	appearance: none;
	transition: .2s;
}

select:hover {
	border-color: #aaa;
}

select:focus {
	border-color: #aaa;
}


.select {
	width: 250px;
}

.select:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-color: white transparent transparent transparent;
	border-width: 6px 5px 0 5px;
	z-index: 10;
	top: 32px;
	left: 200px;
}

select:focus {
	outline: none;
}

.arrow {
	position: absolute;
}

option:hover {
	background-color: white;
}

/* .select-menu {
	width: 280px;
	margin: 140px auto;
}

.select-menu .select-btn {
	display: flex;
	background: #fff;
	padding: 20px;
	font-size: 18px;
	border-radius: 15px;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
}

.select-btn i {
	font-size: 25px;
	transition: 0.3s;
}

.select-menu.active .select-btn i {
	transform: rotate(-180deg);
}

.select-menu .options {
	position: relative;
	padding: 20px;
	margin-top: -12px;
	border-radius: 0 0 15px 15px;
	background: #fff;
	display: none;
}

.select-menu.active .options {
	display: block;
}

.options .option {
	display: flex;
	cursor: pointer;
	padding: 16px;
	border-radius: 8px;
	background: #fff;
}

.options .option:hover {
	background: #F2F2F2;
} */