@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: Montserrat;
  color: white;
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  background-color: #111;
}

header {
  width: 100%;
  background-image: url(/src/img/header.jpg);
  height: 63px;
}

footer {
  margin-top: 1000px;
  width: 100%;
  background-image: url(/src/img/footer.jpg);
  height: 433px;
}

main {
  margin: 0 16.6%;
  margin-top: 80px;
}

.button__red {
  display: flex;
  justify-content: center;
  background-color: #390F15;
  padding: 12px;
  border: 2px solid #ED1C24;
  width: fit-content;
  transition: .2s;
}

.button__red:hover {
  background-color: #ED1C24;
}

.button__red img {
  width: 25px;
}

.left-button {
  transform: rotate(90deg);
}

.right-button {
  transform: rotate(-90deg);
}

.selections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-3D {
  width: 100%;
}

.choices-menu {
  background-color: #0C0C0C;
  padding: 30px;
  border: 1px solid #282828;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: white;
  z-index: 1;
  display: block;
  position: absolute;

}

.dot-left-top {
  left: -1px;
  top: -1px;
}
.dot-left-bottom {
  left: -1px;
  bottom: -1px;
}
.dot-right-bottom {
  right: -1px;
  bottom: -1px;
}
.dot-right-top {
  right: -1px;
  top: -1px;
}

select {
  background-color: #111;
  border: 1px solid #282828;
  width: 18%;
  min-width: 120px;
  padding: 14px;
  -webkit-appearance: none;
  background-image: url(/src/img/little-arrow.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 92% 17px;
  
}

select:focus {
  outline: none;
}

select::before {
  content: '';
  background-color: white;
  /* border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: white transparent transparent transparent; */
}